workflows/01-orchestrator-main.json
{
  "name": "01 - Clínica WhatsApp · Orquestrador",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clinica-webhook",
        "options": {}
      },
      "id": "wh1",
      "name": "Webhook Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        304
      ],
      "webhookId": "clinica-evo"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extrai campos do payload da Evolution API (webhook v2 encapsula em $json.body)\nconst body = $json.body || $json;\n\nconst remoteJid = body?.data?.key?.remoteJid || '';\nconst phone = remoteJid.replace('@s.whatsapp.net','').replace('@g.us','').replace('+','');\nconst msg = body?.data?.message || {};\n\nreturn {\n  event:     body.event || '',\n  instance:  body.instance || '',\n  phone:     phone,\n  fromMe:    body?.data?.key?.fromMe || false,\n  isGroup:   remoteJid.endsWith('@g.us'),\n  messageId: body?.data?.key?.id || '',\n  text:      msg.conversation || msg.extendedTextMessage?.text || msg.imageMessage?.caption || '',\n  pushName:  body?.data?.pushName || '',\n};"
      },
      "id": "set1",
      "name": "Normalizar Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "sw1",
      "name": "Filtra evento de mensagem",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "g1",
              "leftValue": "={{ $json.isGroup }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            },
            {
              "id": "g2",
              "leftValue": "={{ $json.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "sw2",
      "name": "Ignora grupo e mensagens próprias",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        912,
        208
      ]
    },
    {
      "parameters": {
        "functionCode": "// Detecta intenção a partir do texto simples (sem IA)\nconst text = ($input.first().json.text || '').toLowerCase().trim();\n\nlet intent = 'DESCONHECIDA';\nlet confidence = 0.0;\n\n// IMPORTANTE: ordem importa — padrões mais específicos primeiro\nconst patterns = [\n  ['SAUDACAO',  [/^(oi|ol[aá]|bom dia|boa tarde|boa noite|hey|eae|salve)/i]],\n  ['REAGENDAR', [/remarcar|mudar|trocar|reagendar|outro dia|outro hor[aá]rio/i]],\n  ['CANCELAR',  [/cancelar|desmarcar|n[aã]o vou|n[aã]o posso|anular/i]],\n  ['CONSULTAR', [/minha consulta|pr[oó]xima|quando [eé]|quando vou|meus agendamentos|ver agendamentos/i]],\n  ['AGENDAR',   [/agendar|marcar|quero.*consulta|preciso.*consulta|fazer.*consulta|nova consulta|quero marcar|preciso marcar/i]],\n  ['INFO',      [/endere[çc]o|conv[eê]nio|pre[çc]o|valor|como funciona|funcionamento|hor[aá]rio de atendimento/i]],\n  ['HUMANO',    [/atendente|humano|pessoa|algu[eé]m|recep[çc][aã]o|ligar/i]],\n  ['CONFIRMAR', [/^(sim|s|yes|confirmo|confirmar|ok|pode ser|isso|exato)$/i]],\n  ['NEGAR',     [/^(n[aã]o|nao|n|no|nunca|para)$/i]]\n];\n\nfor (const [key, regs] of patterns) {\n  for (const r of regs) {\n    if (r.test(text)) { intent = key; confidence = 0.8; break; }\n  }\n  if (intent !== 'DESCONHECIDA') break;\n}\n\n// menu numérico\nif (/^[1-6]$/.test(text)) {\n  intent = { '1': 'AGENDAR', '2': 'CONSULTAR', '3': 'CANCELAR', '4': 'REAGENDAR', '5': 'INFO', '6': 'HUMANO' }[text];\n  confidence = 0.95;\n}\n\nreturn { json: { ...$input.first().json, intent, confidence, normalizedText: text } };\n"
      },
      "id": "fn1",
      "name": "Detecta Intenção",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1120,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO patients (phone, name, created_at, updated_at) VALUES ('{{($json.phone || '').replace(/'/g, \"''\")}}', '{{($json.pushName || '').replace(/'/g, \"''\")}}', NOW(), NOW()) ON CONFLICT (phone) DO UPDATE SET name = COALESCE(EXCLUDED.name, patients.name), updated_at = NOW() RETURNING *;",
        "options": {}
      },
      "id": "db1",
      "name": "Upsert Paciente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1344,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "lJdJ75mDmCFc2NEt",
          "name": "Clinica PG"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_state (phone, state, context, last_seen_at, expires_at)\nVALUES ('{{($json.phone || '').replace(/'/g, \"''\")}}', 'INITIAL', '{}', NOW(), NOW() + INTERVAL '30 minutes')\nON CONFLICT (phone) DO UPDATE\n  SET last_seen_at = NOW(),\n      expires_at = NOW() + INTERVAL '30 minutes'\nRETURNING *;",
        "options": {}
      },
      "id": "db2",
      "name": "Busca Estado da Conversa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1568,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "lJdJ75mDmCFc2NEt",
          "name": "Clinica PG"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "r1",
              "leftValue": "={{ $('Detecta Intenção').first().json.intent }}",
              "rightValue": "AGENDAR",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "sw3",
      "name": "Roteia: AGENDAR",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1808,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "r2",
              "leftValue": "={{ $('Detecta Intenção').first().json.intent }}",
              "rightValue": "CANCELAR",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "sw4",
      "name": "Roteia: CANCELAR",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1808,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "r3",
              "leftValue": "={{ $('Detecta Intenção').first().json.intent }}",
              "rightValue": "REAGENDAR",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "sw5",
      "name": "Roteia: REAGENDAR",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1808,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "r4",
              "leftValue": "={{ $('Detecta Intenção').first().json.intent }}",
              "rightValue": "CONSULTAR",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "sw6",
      "name": "Roteia: CONSULTAR",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1808,
        448
      ]
    },
    {
      "parameters": {
        "url": "http://clinica-evo:8080/message/sendText/clinica",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "sua-chave-secreta-aqui"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\"number\": $json.phone, \"text\": $json.reply, \"delay\": 1200}) }}",
        "options": {},
        "method": "POST"
      },
      "id": "send1",
      "name": "Responde no WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2512,
        304
      ]
    },
    {
      "parameters": {
        "functionCode": "// Dados originais da mensagem (preservados do nó de detecção de intenção)\nconst orig = $('Detecta Intenção').first().json;\nconst state = $input.first().json;  // conversation_state do postgres\n\nconst intent = orig.intent;\nconst pushName = orig.pushName || '';\n\nlet reply = '';\n\nswitch (intent) {\n  case 'SAUDACAO':\n  case 'DESCONHECIDA':\n    reply = `Olá${pushName ? ', ' + pushName : ''}! 👋\\n\\nSou a assistente virtual da *Clínica Vida*. Como posso te ajudar hoje?\\n\\n*1️⃣* Agendar consulta\\n*2️⃣* Ver meus agendamentos\\n*3️⃣* Cancelar consulta\\n*4️⃣* Remarcar consulta\\n*5️⃣* Informações (endereço, convênios)\\n*6️⃣* Falar com atendente\\n\\n_Digite o número da opção_`;\n    break;\n  case 'INFO':\n    reply = `📍 *Clínica Vida*\\n\\n*Endereço:* Rua das Flores, 123 — Centro\\n*Horário:* Seg-Sex 7h-19h · Sáb 7h-12h\\n*Convênios:* Unimed, Amil, SulAmérica, Bradesco Saúde\\n*Particular:* a partir de R$ 250\\n\\nQuer *agendar* agora? É só digitar *1*.`;\n    break;\n  case 'HUMANO':\n    reply = `Vou te transferir para um atendente humano 👩‍💼\\n\\nPor favor, descreva brevemente o assunto enquanto aguardo. Em horário comercial o retorno é em até 5 minutos.`;\n    break;\n  case 'AGENDAR':\n    reply = `Ótimo! Vamos agendar 😊\\n\\nQual especialidade você precisa?\\n\\n*1️⃣* Clínico Geral\\n*2️⃣* Cardiologia\\n*3️⃣* Dermatologia\\n*4️⃣* Ginecologia\\n*5️⃣* Pediatria\\n*6️⃣* Ortopedia\\n\\nResponde com o número da especialidade.`;\n    break;\n  case 'CANCELAR':\n    reply = `Sem problema. Vou listar seus agendamentos ativos...`;\n    break;\n  case 'REAGENDAR':\n    reply = `Vamos remarcar! Primeiro deixa eu ver sua próxima consulta...`;\n    break;\n  case 'CONSULTAR':\n    reply = `Vou checar sua agenda...`;\n    break;\n  default:\n    reply = `Desculpa, não entendi 🤔\\n\\nDigite *menu* para ver as opções ou escolha um número de 1 a 6.`;\n}\n\nreturn { json: { ...orig, reply, conv_state: state.state } };\n"
      },
      "id": "fn2",
      "name": "Gera Resposta",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2272,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_log (phone, intent, confidence, message_text, response_text, message_id, direction, created_at)\nVALUES (\n  '{{($('Normalizar Payload').first().json.phone || '').replace(/'/g, \"''\")}}',\n  '{{($('Detecta Intenção').first().json.intent || '').replace(/'/g, \"''\")}}',\n  {{ $('Detecta Intenção').first().json.confidence || 0 }},\n  '{{($('Normalizar Payload').first().json.text || '').replace(/'/g, \"''\")}}',\n  '{{($('Gera Resposta').first().json.reply || '').replace(/'/g, \"''\")}}',\n  '{{($('Normalizar Payload').first().json.messageId || '').replace(/'/g, \"''\")}}',\n  'inbound',\n  NOW()\n);",
        "options": {}
      },
      "id": "dblog",
      "name": "Log da Conversa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2752,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "lJdJ75mDmCFc2NEt",
          "name": "Clinica PG"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://{{ $env.EVO_HOST }}:8080/message/sendText/{{ $env.EVO_INSTANCE }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\"number\": \"5511999998888\", \"text\": \"🔔 *Atendimento humano solicitado*\\n\\nPaciente: \" + ($json.pushName || \"\") + \"\\nTelefone: \" + ($json.phone || \"\") + \"\\nÚltima msg: \" + ($json.text || \"\")}) }}",
        "options": {},
        "method": "POST"
      },
      "id": "notify1",
      "name": "Notifica Equipe (HUMANO)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(\n  json_agg(\n    json_build_object(\n      'id', id, 'specialty', specialty, 'doctor', doctor,\n      'data', TO_CHAR(start_time AT TIME ZONE 'America/Sao_Paulo','DD/MM/YYYY'),\n      'hora', TO_CHAR(start_time AT TIME ZONE 'America/Sao_Paulo','HH24:MI')\n    ) ORDER BY start_time\n  ),\n  '[]'::json\n) AS appointments\nFROM appointments\nWHERE phone = '{{($('Normalizar Payload').first().json.phone || '').replace(/'/g, \"''\")}}' \n  AND status IN ('confirmed','pending')\n  AND start_time > NOW();",
        "options": {}
      },
      "id": "busca-appts-cancel",
      "name": "Busca Agendamentos (CANCELAR)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2048,
        168
      ],
      "credentials": {
        "postgres": {
          "id": "lJdJ75mDmCFc2NEt",
          "name": "Clinica PG"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const row = $input.first().json;\nconst orig = $('Normalizar Payload').first().json;\nconst appts = row.appointments || [];\n\nlet reply;\nif (!appts.length) {\n  reply = 'Você não tem consultas agendadas no momento. 😊\\n\\nDigite *menu* para voltar ao início.';\n} else {\n  let lista = appts.map((a, i) => `*${i+1}.* ${a.specialty} com ${a.doctor}\\n   📅 ${a.data} às ${a.hora}`).join('\\n\\n');\n  reply = `Suas consultas agendadas:\\n\\n${lista}\\n\\nDigite o *número* da consulta que deseja cancelar ou *0* para voltar.`;\n}\n\nreturn { json: { ...orig, reply, appts } };\n"
      },
      "id": "fmt-cancel",
      "name": "Formata Lista CANCELAR",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2288,
        168
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://clinica-evo:8080/message/sendText/clinica",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "sua-chave-secreta-aqui"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\"number\": $json.phone, \"text\": $json.reply, \"delay\": 1000}) }}",
        "options": {}
      },
      "id": "resp-cancel",
      "name": "Responde CANCELAR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2528,
        168
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(\n  json_agg(\n    json_build_object(\n      'id', id, 'specialty', specialty, 'doctor', doctor,\n      'data', TO_CHAR(start_time AT TIME ZONE 'America/Sao_Paulo','DD/MM/YYYY'),\n      'hora', TO_CHAR(start_time AT TIME ZONE 'America/Sao_Paulo','HH24:MI'),\n      'status', status\n    ) ORDER BY start_time\n  ),\n  '[]'::json\n) AS appointments\nFROM appointments\nWHERE phone = '{{($('Normalizar Payload').first().json.phone || '').replace(/'/g, \"''\")}}' \n  AND status IN ('confirmed','pending')\n  AND start_time > NOW();",
        "options": {}
      },
      "id": "busca-appts-consultar",
      "name": "Busca Agendamentos (CONSULTAR)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2048,
        528
      ],
      "credentials": {
        "postgres": {
          "id": "lJdJ75mDmCFc2NEt",
          "name": "Clinica PG"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const row = $input.first().json;\nconst orig = $('Normalizar Payload').first().json;\nconst appts = row.appointments || [];\n\nlet reply;\nif (!appts.length) {\n  reply = 'Você não tem consultas agendadas no momento. 😊\\n\\nPara agendar, digite *1*.';\n} else {\n  const lista = appts.map((a, i) =>\n    `*${i+1}.* ${a.specialty}\\n   👨‍⚕️ ${a.doctor}\\n   📅 ${a.data} às ${a.hora}`\n  ).join('\\n\\n');\n  const plural = appts.length === 1 ? 'consulta agendada' : 'consultas agendadas';\n  reply = `Você tem *${appts.length} ${plural}*:\\n\\n${lista}\\n\\nDigite *menu* para voltar ao início.`;\n}\n\nreturn { json: { ...orig, reply, appts } };\n"
      },
      "id": "fmt-consultar",
      "name": "Formata Lista CONSULTAR",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2288,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://clinica-evo:8080/message/sendText/clinica",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "sua-chave-secreta-aqui"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\"number\": $json.phone, \"text\": $json.reply, \"delay\": 1000}) }}",
        "options": {}
      },
      "id": "resp-consultar",
      "name": "Responde CONSULTAR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2528,
        528
      ]
    },
    {
      "parameters": {
        "functionCode": "const state = $input.first().json;          // conversation_state row\nconst orig  = $('Detecta Intenção').first().json; // intent original\nconst text  = (orig.text || '').trim();\n\nlet intent = orig.intent;\n\n// Quando aguardando especialidade e usuário digita 1-6 → especialidade\nif (state.state === 'AWAITING_SPECIALTY' && /^[1-6]$/.test(text)) {\n  intent = 'SELECIONA_ESPECIALIDADE';\n}\n// Quando aguardando confirmação e usuário confirma/nega\nif (state.state === 'AWAITING_CONFIRM') {\n  if (/^(sim|s|yes|confirmo|ok|1)$/i.test(text)) intent = 'CONFIRMAR';\n  if (/^(n[aã]o|nao|n|2|cancelar)$/i.test(text)) intent = 'NEGAR';\n}\n// \"menu\" sempre reseta\nif (/^menu$/i.test(text)) intent = 'SAUDACAO';\n\nreturn { json: { ...orig, intent, conv_state: state.state, conv_context: state.context } };\n"
      },
      "id": "interpreta-ctx",
      "name": "Interpreta Contexto",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1788,
        208
      ]
    },
    {
      "parameters": {
        "functionCode": "const data = $input.first().json;\nconst especialidades = {\n  '1': { name: 'Clínico Geral',  duration: 30 },\n  '2': { name: 'Cardiologia',    duration: 40 },\n  '3': { name: 'Dermatologia',   duration: 30 },\n  '4': { name: 'Ginecologia',    duration: 40 },\n  '5': { name: 'Pediatria',      duration: 30 },\n  '6': { name: 'Ortopedia',      duration: 40 },\n};\nconst esp = especialidades[data.text] || { name: 'Clínico Geral', duration: 30 };\nconst newContext = { ...(data.conv_context || {}), specialty: esp.name, duration: esp.duration };\nconst reply = `Ótima escolha! *${esp.name}* ✅\\n\\nQual data você prefere?\\nEx: *15/07* ou *amanhã*\\n\\n_(Atendemos Seg-Sex 7h-19h · Sáb 7h-12h)_`;\n\nreturn { json: { ...data, reply, newState: 'AWAITING_DATE', newContext } };\n"
      },
      "id": "handle-especialidade",
      "name": "Handle Especialidade",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2048,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversation_state\nSET state = 'AWAITING_DATE',\n    context = jsonb_build_object(\n      'specialty', '{{($json.newContext.specialty || \"Clínico Geral\").replace(/'/g, \"''\")}}',\n      'duration',  {{$json.newContext.duration || 30}}\n    ),\n    last_intent  = 'SELECIONA_ESPECIALIDADE',\n    last_seen_at = NOW(),\n    expires_at   = NOW() + INTERVAL '30 minutes'\nWHERE phone = '{{($json.phone || \"\").replace(/'/g, \"''\")}}';\nSELECT state, phone FROM conversation_state WHERE phone = '{{($json.phone || \"\").replace(/'/g, \"''\")}}';",
        "options": {}
      },
      "id": "state-esp",
      "name": "Salva Estado (ESPECIALIDADE)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2268,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "lJdJ75mDmCFc2NEt",
          "name": "Clinica PG"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://clinica-evo:8080/message/sendText/clinica",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "sua-chave-secreta-aqui"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\"number\": $(\"Handle Especialidade\").first().json.phone, \"text\": $(\"Handle Especialidade\").first().json.reply, \"delay\": 1000}) }}",
        "options": {}
      },
      "id": "resp-especialidade",
      "name": "Responde Especialidade",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2488,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversation_state\nSET state = 'AWAITING_SPECIALTY',\n    last_intent  = 'AGENDAR',\n    last_seen_at = NOW(),\n    expires_at   = NOW() + INTERVAL '30 minutes'\nWHERE phone = '{{($(\"Interpreta Contexto\").first().json.phone || \"\").replace(/'/g, \"''\")}}';\nSELECT state FROM conversation_state WHERE phone = '{{($(\"Interpreta Contexto\").first().json.phone || \"\").replace(/'/g, \"''\")}}';",
        "options": {}
      },
      "id": "state-agendar",
      "name": "Salva Estado (AGENDAR)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2732,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "lJdJ75mDmCFc2NEt",
          "name": "Clinica PG"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "rsel",
              "leftValue": "={{ $('Interpreta Contexto').first().json.intent }}",
              "rightValue": "SELECIONA_ESPECIALIDADE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "router-sel-esp",
      "name": "Roteia: SELECIONAR_ESP",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1608,
        80
      ]
    }
  ],
  "connections": {
    "Webhook Evolution API": {
      "main": [
        [
          {
            "node": "Normalizar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Payload": {
      "main": [
        [
          {
            "node": "Filtra evento de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra evento de mensagem": {
      "main": [
        [
          {
            "node": "Ignora grupo e mensagens próprias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ignora grupo e mensagens próprias": {
      "main": [
        [
          {
            "node": "Detecta Intenção",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detecta Intenção": {
      "main": [
        [
          {
            "node": "Upsert Paciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Paciente": {
      "main": [
        [
          {
            "node": "Busca Estado da Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Estado da Conversa": {
      "main": [
        [
          {
            "node": "Interpreta Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteia: AGENDAR": {
      "main": [
        [
          {
            "node": "Gera Resposta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Roteia: CANCELAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteia: CANCELAR": {
      "main": [
        [
          {
            "node": "Busca Agendamentos (CANCELAR)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Roteia: REAGENDAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteia: REAGENDAR": {
      "main": [
        [
          {
            "node": "Gera Resposta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Roteia: CONSULTAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteia: CONSULTAR": {
      "main": [
        [
          {
            "node": "Busca Agendamentos (CONSULTAR)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gera Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gera Resposta": {
      "main": [
        [
          {
            "node": "Responde no WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responde no WhatsApp": {
      "main": [
        [
          {
            "node": "Salva Estado (AGENDAR)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Agendamentos (CANCELAR)": {
      "main": [
        [
          {
            "node": "Formata Lista CANCELAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Lista CANCELAR": {
      "main": [
        [
          {
            "node": "Responde CANCELAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Agendamentos (CONSULTAR)": {
      "main": [
        [
          {
            "node": "Formata Lista CONSULTAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Lista CONSULTAR": {
      "main": [
        [
          {
            "node": "Responde CONSULTAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interpreta Contexto": {
      "main": [
        [
          {
            "node": "Roteia: SELECIONAR_ESP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteia: SELECIONAR_ESP": {
      "main": [
        [
          {
            "node": "Handle Especialidade",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Roteia: AGENDAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Especialidade": {
      "main": [
        [
          {
            "node": "Salva Estado (ESPECIALIDADE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva Estado (ESPECIALIDADE)": {
      "main": [
        [
          {
            "node": "Responde Especialidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva Estado (AGENDAR)": {
      "main": [
        [
          {
            "node": "Salva Estado (AGENDAR)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "timezone": "America/Sao_Paulo",
    "binaryMode": "separate"
  },
  "nodeGroups": [],
  "activeVersionId": "16d4e782-1c67-441d-a086-74ddc4690e7f",
  "versionCounter": 22,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-28T10:43:33.542Z",
      "createdAt": "2026-06-28T10:43:33.542Z",
      "role": "workflow:owner",
      "workflowId": "wf-clinica-orchestrator",
      "projectId": "Dg56qYzmwzmq5vmQ",
      "project": {
        "updatedAt": "2026-06-28T10:23:20.250Z",
        "createdAt": "2026-06-28T10:19:53.560Z",
        "id": "Dg56qYzmwzmq5vmQ",
        "name": "Fabio Vige <fabiovige@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "8cf90173-71b2-42b4-aed0-c8af3bc9ca32"
      }
    }
  ],
  "tags": [],
  "parentFolder": null,
  "activeVersion": {
    "updatedAt": "2026-06-28T13:23:30.110Z",
    "createdAt": "2026-06-28T13:23:30.110Z",
    "versionId": "16d4e782-1c67-441d-a086-74ddc4690e7f",
    "workflowId": "wf-clinica-orchestrator",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "clinica-webhook",
          "options": {}
        },
        "id": "wh1",
        "name": "Webhook Evolution API",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          304
        ],
        "webhookId": "clinica-evo"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Extrai campos do payload da Evolution API (webhook v2 encapsula em $json.body)\nconst body = $json.body || $json;\n\nconst remoteJid = body?.data?.key?.remoteJid || '';\nconst phone = remoteJid.replace('@s.whatsapp.net','').replace('@g.us','').replace('+','');\nconst msg = body?.data?.message || {};\n\nreturn {\n  event:     body.event || '',\n  instance:  body.instance || '',\n  phone:     phone,\n  fromMe:    body?.data?.key?.fromMe || false,\n  isGroup:   remoteJid.endsWith('@g.us'),\n  messageId: body?.data?.key?.id || '',\n  text:      msg.conversation || msg.extendedTextMessage?.text || msg.imageMessage?.caption || '',\n  pushName:  body?.data?.pushName || '',\n};"
        },
        "id": "set1",
        "name": "Normalizar Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          304
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.event }}",
                "rightValue": "messages.upsert",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "sw1",
        "name": "Filtra evento de mensagem",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          688,
          304
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "g1",
                "leftValue": "={{ $json.isGroup }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals",
                  "singleValue": true
                }
              },
              {
                "id": "g2",
                "leftValue": "={{ $json.fromMe }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "sw2",
        "name": "Ignora grupo e mensagens próprias",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          912,
          208
        ]
      },
      {
        "parameters": {
          "functionCode": "// Detecta intenção a partir do texto simples (sem IA)\nconst text = ($input.first().json.text || '').toLowerCase().trim();\n\nlet intent = 'DESCONHECIDA';\nlet confidence = 0.0;\n\n// IMPORTANTE: ordem importa — padrões mais específicos primeiro\nconst patterns = [\n  ['SAUDACAO',  [/^(oi|ol[aá]|bom dia|boa tarde|boa noite|hey|eae|salve)/i]],\n  ['REAGENDAR', [/remarcar|mudar|trocar|reagendar|outro dia|outro hor[aá]rio/i]],\n  ['CANCELAR',  [/cancelar|desmarcar|n[aã]o vou|n[aã]o posso|anular/i]],\n  ['CONSULTAR', [/minha consulta|pr[oó]xima|quando [eé]|quando vou|meus agendamentos|ver agendamentos/i]],\n  ['AGENDAR',   [/agendar|marcar|quero.*consulta|preciso.*consulta|fazer.*consulta|nova consulta|quero marcar|preciso marcar/i]],\n  ['INFO',      [/endere[çc]o|conv[eê]nio|pre[çc]o|valor|como funciona|funcionamento|hor[aá]rio de atendimento/i]],\n  ['HUMANO',    [/atendente|humano|pessoa|algu[eé]m|recep[çc][aã]o|ligar/i]],\n  ['CONFIRMAR', [/^(sim|s|yes|confirmo|confirmar|ok|pode ser|isso|exato)$/i]],\n  ['NEGAR',     [/^(n[aã]o|nao|n|no|nunca|para)$/i]]\n];\n\nfor (const [key, regs] of patterns) {\n  for (const r of regs) {\n    if (r.test(text)) { intent = key; confidence = 0.8; break; }\n  }\n  if (intent !== 'DESCONHECIDA') break;\n}\n\n// menu numérico\nif (/^[1-6]$/.test(text)) {\n  intent = { '1': 'AGENDAR', '2': 'CONSULTAR', '3': 'CANCELAR', '4': 'REAGENDAR', '5': 'INFO', '6': 'HUMANO' }[text];\n  confidence = 0.95;\n}\n\nreturn { json: { ...$input.first().json, intent, confidence, normalizedText: text } };\n"
        },
        "id": "fn1",
        "name": "Detecta Intenção",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          1120,
          208
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO patients (phone, name, created_at, updated_at) VALUES ('{{($json.phone || '').replace(/'/g, \"''\")}}', '{{($json.pushName || '').replace(/'/g, \"''\")}}', NOW(), NOW()) ON CONFLICT (phone) DO UPDATE SET name = COALESCE(EXCLUDED.name, patients.name), updated_at = NOW() RETURNING *;",
          "options": {}
        },
        "id": "db1",
        "name": "Upsert Paciente",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          1344,
          208
        ],
        "credentials": {
          "postgres": {
            "id": "lJdJ75mDmCFc2NEt",
            "name": "Clinica PG"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO conversation_state (phone, state, context, last_seen_at, expires_at)\nVALUES ('{{($json.phone || '').replace(/'/g, \"''\")}}', 'INITIAL', '{}', NOW(), NOW() + INTERVAL '30 minutes')\nON CONFLICT (phone) DO UPDATE\n  SET last_seen_at = NOW(),\n      expires_at = NOW() + INTERVAL '30 minutes'\nRETURNING *;",
          "options": {}
        },
        "id": "db2",
        "name": "Busca Estado da Conversa",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          1568,
          208
        ],
        "credentials": {
          "postgres": {
            "id": "lJdJ75mDmCFc2NEt",
            "name": "Clinica PG"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "r1",
                "leftValue": "={{ $('Detecta Intenção').first().json.intent }}",
                "rightValue": "AGENDAR",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "sw3",
        "name": "Roteia: AGENDAR",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1808,
          80
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "r2",
                "leftValue": "={{ $('Detecta Intenção').first().json.intent }}",
                "rightValue": "CANCELAR",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "sw4",
        "name": "Roteia: CANCELAR",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1808,
          208
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "r3",
                "leftValue": "={{ $('Detecta Intenção').first().json.intent }}",
                "rightValue": "REAGENDAR",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "sw5",
        "name": "Roteia: REAGENDAR",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1808,
          320
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "r4",
                "leftValue": "={{ $('Detecta Intenção').first().json.intent }}",
                "rightValue": "CONSULTAR",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "sw6",
        "name": "Roteia: CONSULTAR",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1808,
          448
        ]
      },
      {
        "parameters": {
          "url": "http://clinica-evo:8080/message/sendText/clinica",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "apikey",
                "value": "sua-chave-secreta-aqui"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ ({\"number\": $json.phone, \"text\": $json.reply, \"delay\": 1200}) }}",
          "options": {},
          "method": "POST"
        },
        "id": "send1",
        "name": "Responde no WhatsApp",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2512,
          304
        ]
      },
      {
        "parameters": {
          "functionCode": "// Dados originais da mensagem (preservados do nó de detecção de intenção)\nconst orig = $('Detecta Intenção').first().json;\nconst state = $input.first().json;  // conversation_state do postgres\n\nconst intent = orig.intent;\nconst pushName = orig.pushName || '';\n\nlet reply = '';\n\nswitch (intent) {\n  case 'SAUDACAO':\n  case 'DESCONHECIDA':\n    reply = `Olá${pushName ? ', ' + pushName : ''}! 👋\\n\\nSou a assistente virtual da *Clínica Vida*. Como posso te ajudar hoje?\\n\\n*1️⃣* Agendar consulta\\n*2️⃣* Ver meus agendamentos\\n*3️⃣* Cancelar consulta\\n*4️⃣* Remarcar consulta\\n*5️⃣* Informações (endereço, convênios)\\n*6️⃣* Falar com atendente\\n\\n_Digite o número da opção_`;\n    break;\n  case 'INFO':\n    reply = `📍 *Clínica Vida*\\n\\n*Endereço:* Rua das Flores, 123 — Centro\\n*Horário:* Seg-Sex 7h-19h · Sáb 7h-12h\\n*Convênios:* Unimed, Amil, SulAmérica, Bradesco Saúde\\n*Particular:* a partir de R$ 250\\n\\nQuer *agendar* agora? É só digitar *1*.`;\n    break;\n  case 'HUMANO':\n    reply = `Vou te transferir para um atendente humano 👩‍💼\\n\\nPor favor, descreva brevemente o assunto enquanto aguardo. Em horário comercial o retorno é em até 5 minutos.`;\n    break;\n  case 'AGENDAR':\n    reply = `Ótimo! Vamos agendar 😊\\n\\nQual especialidade você precisa?\\n\\n*1️⃣* Clínico Geral\\n*2️⃣* Cardiologia\\n*3️⃣* Dermatologia\\n*4️⃣* Ginecologia\\n*5️⃣* Pediatria\\n*6️⃣* Ortopedia\\n\\nResponde com o número da especialidade.`;\n    break;\n  case 'CANCELAR':\n    reply = `Sem problema. Vou listar seus agendamentos ativos...`;\n    break;\n  case 'REAGENDAR':\n    reply = `Vamos remarcar! Primeiro deixa eu ver sua próxima consulta...`;\n    break;\n  case 'CONSULTAR':\n    reply = `Vou checar sua agenda...`;\n    break;\n  default:\n    reply = `Desculpa, não entendi 🤔\\n\\nDigite *menu* para ver as opções ou escolha um número de 1 a 6.`;\n}\n\nreturn { json: { ...orig, reply, conv_state: state.state } };\n"
        },
        "id": "fn2",
        "name": "Gera Resposta",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          2272,
          304
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO conversation_log (phone, intent, confidence, message_text, response_text, message_id, direction, created_at)\nVALUES (\n  '{{($('Normalizar Payload').first().json.phone || '').replace(/'/g, \"''\")}}',\n  '{{($('Detecta Intenção').first().json.intent || '').replace(/'/g, \"''\")}}',\n  {{ $('Detecta Intenção').first().json.confidence || 0 }},\n  '{{($('Normalizar Payload').first().json.text || '').replace(/'/g, \"''\")}}',\n  '{{($('Gera Resposta').first().json.reply || '').replace(/'/g, \"''\")}}',\n  '{{($('Normalizar Payload').first().json.messageId || '').replace(/'/g, \"''\")}}',\n  'inbound',\n  NOW()\n);",
          "options": {}
        },
        "id": "dblog",
        "name": "Log da Conversa",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          2752,
          304
        ],
        "credentials": {
          "postgres": {
            "id": "lJdJ75mDmCFc2NEt",
            "name": "Clinica PG"
          }
        }
      },
      {
        "parameters": {
          "url": "=http://{{ $env.EVO_HOST }}:8080/message/sendText/{{ $env.EVO_INSTANCE }}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ ({\"number\": \"5511999998888\", \"text\": \"🔔 *Atendimento humano solicitado*\\n\\nPaciente: \" + ($json.pushName || \"\") + \"\\nTelefone: \" + ($json.phone || \"\") + \"\\nÚltima msg: \" + ($json.text || \"\")}) }}",
          "options": {},
          "method": "POST"
        },
        "id": "notify1",
        "name": "Notifica Equipe (HUMANO)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2272,
          208
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT COALESCE(\n  json_agg(\n    json_build_object(\n      'id', id, 'specialty', specialty, 'doctor', doctor,\n      'data', TO_CHAR(start_time AT TIME ZONE 'America/Sao_Paulo','DD/MM/YYYY'),\n      'hora', TO_CHAR(start_time AT TIME ZONE 'America/Sao_Paulo','HH24:MI')\n    ) ORDER BY start_time\n  ),\n  '[]'::json\n) AS appointments\nFROM appointments\nWHERE phone = '{{($('Normalizar Payload').first().json.phone || '').replace(/'/g, \"''\")}}' \n  AND status IN ('confirmed','pending')\n  AND start_time > NOW();",
          "options": {}
        },
        "id": "busca-appts-cancel",
        "name": "Busca Agendamentos (CANCELAR)",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2048,
          168
        ],
        "credentials": {
          "postgres": {
            "id": "lJdJ75mDmCFc2NEt",
            "name": "Clinica PG"
          }
        }
      },
      {
        "parameters": {
          "functionCode": "const row = $input.first().json;\nconst orig = $('Normalizar Payload').first().json;\nconst appts = row.appointments || [];\n\nlet reply;\nif (!appts.length) {\n  reply = 'Você não tem consultas agendadas no momento. 😊\\n\\nDigite *menu* para voltar ao início.';\n} else {\n  let lista = appts.map((a, i) => `*${i+1}.* ${a.specialty} com ${a.doctor}\\n   📅 ${a.data} às ${a.hora}`).join('\\n\\n');\n  reply = `Suas consultas agendadas:\\n\\n${lista}\\n\\nDigite o *número* da consulta que deseja cancelar ou *0* para voltar.`;\n}\n\nreturn { json: { ...orig, reply, appts } };\n"
        },
        "id": "fmt-cancel",
        "name": "Formata Lista CANCELAR",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          2288,
          168
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://clinica-evo:8080/message/sendText/clinica",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "apikey",
                "value": "sua-chave-secreta-aqui"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ ({\"number\": $json.phone, \"text\": $json.reply, \"delay\": 1000}) }}",
          "options": {}
        },
        "id": "resp-cancel",
        "name": "Responde CANCELAR",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2528,
          168
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT COALESCE(\n  json_agg(\n    json_build_object(\n      'id', id, 'specialty', specialty, 'doctor', doctor,\n      'data', TO_CHAR(start_time AT TIME ZONE 'America/Sao_Paulo','DD/MM/YYYY'),\n      'hora', TO_CHAR(start_time AT TIME ZONE 'America/Sao_Paulo','HH24:MI'),\n      'status', status\n    ) ORDER BY start_time\n  ),\n  '[]'::json\n) AS appointments\nFROM appointments\nWHERE phone = '{{($('Normalizar Payload').first().json.phone || '').replace(/'/g, \"''\")}}' \n  AND status IN ('confirmed','pending')\n  AND start_time > NOW();",
          "options": {}
        },
        "id": "busca-appts-consultar",
        "name": "Busca Agendamentos (CONSULTAR)",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2048,
          528
        ],
        "credentials": {
          "postgres": {
            "id": "lJdJ75mDmCFc2NEt",
            "name": "Clinica PG"
          }
        }
      },
      {
        "parameters": {
          "functionCode": "const row = $input.first().json;\nconst orig = $('Normalizar Payload').first().json;\nconst appts = row.appointments || [];\n\nlet reply;\nif (!appts.length) {\n  reply = 'Você não tem consultas agendadas no momento. 😊\\n\\nPara agendar, digite *1*.';\n} else {\n  const lista = appts.map((a, i) =>\n    `*${i+1}.* ${a.specialty}\\n   👨‍⚕️ ${a.doctor}\\n   📅 ${a.data} às ${a.hora}`\n  ).join('\\n\\n');\n  const plural = appts.length === 1 ? 'consulta agendada' : 'consultas agendadas';\n  reply = `Você tem *${appts.length} ${plural}*:\\n\\n${lista}\\n\\nDigite *menu* para voltar ao início.`;\n}\n\nreturn { json: { ...orig, reply, appts } };\n"
        },
        "id": "fmt-consultar",
        "name": "Formata Lista CONSULTAR",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          2288,
          528
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://clinica-evo:8080/message/sendText/clinica",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "apikey",
                "value": "sua-chave-secreta-aqui"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ ({\"number\": $json.phone, \"text\": $json.reply, \"delay\": 1000}) }}",
          "options": {}
        },
        "id": "resp-consultar",
        "name": "Responde CONSULTAR",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2528,
          528
        ]
      },
      {
        "parameters": {
          "functionCode": "const state = $input.first().json;          // conversation_state row\nconst orig  = $('Detecta Intenção').first().json; // intent original\nconst text  = (orig.text || '').trim();\n\nlet intent = orig.intent;\n\n// Quando aguardando especialidade e usuário digita 1-6 → especialidade\nif (state.state === 'AWAITING_SPECIALTY' && /^[1-6]$/.test(text)) {\n  intent = 'SELECIONA_ESPECIALIDADE';\n}\n// Quando aguardando confirmação e usuário confirma/nega\nif (state.state === 'AWAITING_CONFIRM') {\n  if (/^(sim|s|yes|confirmo|ok|1)$/i.test(text)) intent = 'CONFIRMAR';\n  if (/^(n[aã]o|nao|n|2|cancelar)$/i.test(text)) intent = 'NEGAR';\n}\n// \"menu\" sempre reseta\nif (/^menu$/i.test(text)) intent = 'SAUDACAO';\n\nreturn { json: { ...orig, intent, conv_state: state.state, conv_context: state.context } };\n"
        },
        "id": "interpreta-ctx",
        "name": "Interpreta Contexto",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          1788,
          208
        ]
      },
      {
        "parameters": {
          "functionCode": "const data = $input.first().json;\nconst especialidades = {\n  '1': { name: 'Clínico Geral',  duration: 30 },\n  '2': { name: 'Cardiologia',    duration: 40 },\n  '3': { name: 'Dermatologia',   duration: 30 },\n  '4': { name: 'Ginecologia',    duration: 40 },\n  '5': { name: 'Pediatria',      duration: 30 },\n  '6': { name: 'Ortopedia',      duration: 40 },\n};\nconst esp = especialidades[data.text] || { name: 'Clínico Geral', duration: 30 };\nconst newContext = { ...(data.conv_context || {}), specialty: esp.name, duration: esp.duration };\nconst reply = `Ótima escolha! *${esp.name}* ✅\\n\\nQual data você prefere?\\nEx: *15/07* ou *amanhã*\\n\\n_(Atendemos Seg-Sex 7h-19h · Sáb 7h-12h)_`;\n\nreturn { json: { ...data, reply, newState: 'AWAITING_DATE', newContext } };\n"
        },
        "id": "handle-especialidade",
        "name": "Handle Especialidade",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          2048,
          -80
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE conversation_state\nSET state = 'AWAITING_DATE',\n    context = jsonb_build_object(\n      'specialty', '{{($json.newContext.specialty || \"Clínico Geral\").replace(/'/g, \"''\")}}',\n      'duration',  {{$json.newContext.duration || 30}}\n    ),\n    last_intent  = 'SELECIONA_ESPECIALIDADE',\n    last_seen_at = NOW(),\n    expires_at   = NOW() + INTERVAL '30 minutes'\nWHERE phone = '{{($json.phone || \"\").replace(/'/g, \"''\")}}';\nSELECT state, phone FROM conversation_state WHERE phone = '{{($json.phone || \"\").replace(/'/g, \"''\")}}';",
          "options": {}
        },
        "id": "state-esp",
        "name": "Salva Estado (ESPECIALIDADE)",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2268,
          -80
        ],
        "credentials": {
          "postgres": {
            "id": "lJdJ75mDmCFc2NEt",
            "name": "Clinica PG"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://clinica-evo:8080/message/sendText/clinica",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "apikey",
                "value": "sua-chave-secreta-aqui"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ ({\"number\": $(\"Handle Especialidade\").first().json.phone, \"text\": $(\"Handle Especialidade\").first().json.reply, \"delay\": 1000}) }}",
          "options": {}
        },
        "id": "resp-especialidade",
        "name": "Responde Especialidade",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2488,
          -80
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE conversation_state\nSET state = 'AWAITING_SPECIALTY',\n    last_intent  = 'AGENDAR',\n    last_seen_at = NOW(),\n    expires_at   = NOW() + INTERVAL '30 minutes'\nWHERE phone = '{{($(\"Interpreta Contexto\").first().json.phone || \"\").replace(/'/g, \"''\")}}';\nSELECT state FROM conversation_state WHERE phone = '{{($(\"Interpreta Contexto\").first().json.phone || \"\").replace(/'/g, \"''\")}}';",
          "options": {}
        },
        "id": "state-agendar",
        "name": "Salva Estado (AGENDAR)",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2732,
          224
        ],
        "credentials": {
          "postgres": {
            "id": "lJdJ75mDmCFc2NEt",
            "name": "Clinica PG"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "rsel",
                "leftValue": "={{ $('Interpreta Contexto').first().json.intent }}",
                "rightValue": "SELECIONA_ESPECIALIDADE",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "router-sel-esp",
        "name": "Roteia: SELECIONAR_ESP",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1608,
          80
        ]
      }
    ],
    "connections": {
      "Webhook Evolution API": {
        "main": [
          [
            {
              "node": "Normalizar Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar Payload": {
        "main": [
          [
            {
              "node": "Filtra evento de mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtra evento de mensagem": {
        "main": [
          [
            {
              "node": "Ignora grupo e mensagens próprias",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ignora grupo e mensagens próprias": {
        "main": [
          [
            {
              "node": "Detecta Intenção",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detecta Intenção": {
        "main": [
          [
            {
              "node": "Upsert Paciente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert Paciente": {
        "main": [
          [
            {
              "node": "Busca Estado da Conversa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca Estado da Conversa": {
        "main": [
          [
            {
              "node": "Interpreta Contexto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Roteia: AGENDAR": {
        "main": [
          [
            {
              "node": "Gera Resposta",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Roteia: CANCELAR",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Roteia: CANCELAR": {
        "main": [
          [
            {
              "node": "Busca Agendamentos (CANCELAR)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Roteia: REAGENDAR",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Roteia: REAGENDAR": {
        "main": [
          [
            {
              "node": "Gera Resposta",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Roteia: CONSULTAR",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Roteia: CONSULTAR": {
        "main": [
          [
            {
              "node": "Busca Agendamentos (CONSULTAR)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Gera Resposta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gera Resposta": {
        "main": [
          [
            {
              "node": "Responde no WhatsApp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Responde no WhatsApp": {
        "main": [
          [
            {
              "node": "Salva Estado (AGENDAR)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca Agendamentos (CANCELAR)": {
        "main": [
          [
            {
              "node": "Formata Lista CANCELAR",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formata Lista CANCELAR": {
        "main": [
          [
            {
              "node": "Responde CANCELAR",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca Agendamentos (CONSULTAR)": {
        "main": [
          [
            {
              "node": "Formata Lista CONSULTAR",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formata Lista CONSULTAR": {
        "main": [
          [
            {
              "node": "Responde CONSULTAR",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Interpreta Contexto": {
        "main": [
          [
            {
              "node": "Roteia: SELECIONAR_ESP",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Roteia: SELECIONAR_ESP": {
        "main": [
          [
            {
              "node": "Handle Especialidade",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Roteia: AGENDAR",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Handle Especialidade": {
        "main": [
          [
            {
              "node": "Salva Estado (ESPECIALIDADE)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Salva Estado (ESPECIALIDADE)": {
        "main": [
          [
            {
              "node": "Responde Especialidade",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Salva Estado (AGENDAR)": {
        "main": [
          [
            {
              "node": "Salva Estado (AGENDAR)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Fabio Vige",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-28T13:23:40.411Z",
        "id": 53,
        "workflowId": "wf-clinica-orchestrator",
        "versionId": "16d4e782-1c67-441d-a086-74ddc4690e7f",
        "event": "activated",
        "userId": "8cf90173-71b2-42b4-aed0-c8af3bc9ca32"
      }
    ]
  },
  "scopes": [
    "execution:reveal",
    "workflow:create",
    "workflow:delete",
    "workflow:disableRedaction",
    "workflow:enableRedaction",
    "workflow:execute",
    "workflow:execute-chat",
    "workflow:export",
    "workflow:import",
    "workflow:list",
    "workflow:move",
    "workflow:publish",
    "workflow:read",
    "workflow:share",
    "workflow:unpublish",
    "workflow:unshare",
    "workflow:update"
  ],
  "checksum": "05ff0a5259d5ebe44546bf68c389446f054cbc3e9ad216473e6c83fec0b7982c"
}
