workflows/02-booking-flow.json
{
  "name": "02 - Clínica WhatsApp · Agendamento Google Calendar",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clinica-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh_b1",
      "name": "Webhook Booking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "clinica-booking"
    },
    {
      "parameters": {
        "rule": {
          "interval": [{}]
        }
      },
      "id": "set_b1",
      "name": "Extrair dados do agendamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300],
      "assignments": {
        "assignments": [
          {
            "id": "b1",
            "name": "phone",
            "value": "={{ $json.body.phone }}",
            "type": "string"
          },
          {
            "id": "b2",
            "name": "patientName",
            "value": "={{ $json.body.patientName }}",
            "type": "string"
          },
          {
            "id": "b3",
            "name": "specialty",
            "value": "={{ $json.body.specialty }}",
            "type": "string"
          },
          {
            "id": "b4",
            "name": "doctor",
            "value": "={{ $json.body.doctor }}",
            "type": "string"
          },
          {
            "id": "b5",
            "name": "date",
            "value": "={{ $json.body.date }}",
            "type": "string"
          },
          {
            "id": "b6",
            "name": "time",
            "value": "={{ $json.body.time }}",
            "type": "string"
          },
          {
            "id": "b7",
            "name": "notes",
            "value": "={{ $json.body.notes || '' }}",
            "type": "string"
          }
        ]
      }
    },
    {
      "parameters": {
        "functionCode": "const data = $input.first().json;\n\n// Mapa de especialidades -> calendar_id e duração\nconst SPECIALTIES = {\n  '1': { name: 'Clínico Geral', duration: 30, calendarId: 'clinico-geral@clinica.com.br' },\n  '2': { name: 'Cardiologia',  duration: 40, calendarId: 'cardio@clinica.com.br' },\n  '3': { name: 'Dermatologia', duration: 30, calendarId: 'derma@clinica.com.br' },\n  '4': { name: 'Ginecologia',  duration: 40, calendarId: 'gineco@clinica.com.br' },\n  '5': { name: 'Pediatria',    duration: 30, calendarId: 'pediatra@clinica.com.br' },\n  '6': { name: 'Ortopedia',    duration: 40, calendarId: 'orto@clinica.com.br' }\n};\n\nconst spec = SPECIALTIES[data.specialty];\nif (!spec) {\n  return { json: { ...data, error: 'Especialidade inválida' } };\n}\n\n// Monta ISO datetime\nconst [y, m, d] = data.date.split('-');\nconst [h, min] = data.time.split(':');\nconst start = new Date(Date.UTC(+y, +m - 1, +d, +h, +min));\nconst end = new Date(start.getTime() + spec.duration * 60 * 1000);\n\nreturn {\n  json: {\n    ...data,\n    specialtyName: spec.name,\n    calendarId: spec.calendarId,\n    durationMin: spec.duration,\n    startISO: start.toISOString(),\n    endISO: end.toISOString(),\n    summary: `${spec.name} - ${data.patientName}`,\n    description: `Paciente: ${data.patientName}\\nTelefone: ${data.phone}\\nEspecialidade: ${spec.name}\\nObservações: ${data.notes || '—'}`\n  }\n};\n"
      },
      "id": "fn_b1",
      "name": "Resolve Especialidade + Datas",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "typeValidation": "strict"},
          "conditions": [
            {"id": "v1", "leftValue": "={{ $json.error }}", "rightValue": "", "operator": {"type": "string", "operation": "exists", "singleValue": true}}
          ]
        }
      },
      "id": "if_b1",
      "name": "Dados válidos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "resource": "calendar",
        "operation": "availability",
        "calendar": {"__rl": true, "value": "={{ $json.calendarId }}", "mode": "id"},
        "timeMin": "={{ $json.startISO }}",
        "timeMax": "={{ $json.endISO }}",
        "options": {"timezone": "America/Sao_Paulo"}
      },
      "id": "gc1",
      "name": "Google Calendar · Verificar livre",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [1120, 200],
      "credentials": {"googleCalendarOAuth2Api": {"id": "clinica-google", "name": "Clínica Google"}}
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "typeValidation": "strict"},
          "combinator": "and",
          "conditions": [
            {"id": "f1", "leftValue": "={{ $json.busy }}", "rightValue": [], "operator": {"type": "array", "operation": "empty", "singleValue": true}}
          ]
        }
      },
      "id": "if_b2",
      "name": "Horário livre?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "resource": "calendar",
        "operation": "create",
        "calendar": {"__rl": true, "value": "={{ $json.calendarId }}", "mode": "id"},
        "start": "={{ $json.startISO }}",
        "end": "={{ $json.endISO }}",
        "summary": "={{ $json.summary }}",
        "description": "={{ $json.description }}",
        "options": {
          "attendees": ["={{ $json.phone + '@whatsapp.local' }}"],
          "sendUpdates": "all",
          "timezone": "America/Sao_Paulo"
        },
        "additionalFields": {
          "reminders": {
            "useDefault": false,
            "overrides": [
              {"method": "popup", "minutes": 1440},
              {"method": "popup", "minutes": 120}
            ]
          }
        }
      },
      "id": "gc2",
      "name": "Google Calendar · Criar evento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [1560, 100],
      "credentials": {"googleCalendarOAuth2Api": {"id": "clinica-google", "name": "Clínica Google"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO appointments (phone, patient_name, specialty, doctor, start_time, end_time, calendar_event_id, status, created_at, updated_at) VALUES ({{ JSON.stringify($json.phone) }}, {{ JSON.stringify($json.patientName) }}, {{ JSON.stringify($json.specialtyName) }}, {{ JSON.stringify($json.doctor || 'A definir') }}, {{ JSON.stringify($json.startISO) }}, {{ JSON.stringify($json.endISO) }}, {{ JSON.stringify($json.id) }}, 'confirmed', NOW(), NOW()) RETURNING *;",
        "options": {}
      },
      "id": "db_b1",
      "name": "Salva agendamento no DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1780, 100],
      "credentials": {"postgres": {"id": "clinica-pg", "name": "Clínica PG"}}
    },
    {
      "parameters": {
        "functionCode": "const a = $input.first().json;\nconst date = new Date(a.start_time);\nconst fmtDate = date.toLocaleDateString('pt-BR', { weekday: 'long', day: '2-digit', month: 'long' });\nconst fmtTime = date.toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit' });\n\nconst reply = `✅ *Consulta agendada com sucesso!*\\n\\n📋 *${a.specialty}*\\n👤 ${a.patient_name}\\n📅 ${fmtDate}\\n⏰ ${fmtTime}\\n\\nVocê receberá lembretes *24h* e *2h* antes.\\n\\n_Para cancelar, digite *3*._`;\n\nreturn { json: { phone: a.phone, reply, success: true, appointmentId: a.id } };\n"
      },
      "id": "fn_b2",
      "name": "Monta confirmação",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2000, 100]
    },
    {
      "parameters": {
        "url": "=https://{{ $env.EVO_HOST }}/message/sendText/{{ $env.EVO_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "apikey", "value": "={{ $env.EVO_APIKEY }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"text\": \"{{ $json.reply }}\"\n}",
        "options": {}
      },
      "id": "send_b1",
      "name": "Envia confirmação ao paciente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, appointmentId: $json.appointmentId, reply: $json.reply }) }}",
        "options": {}
      },
      "id": "resp_b1",
      "name": "Resposta Webhook (OK)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2440, 100]
    },
    {
      "parameters": {
        "url": "=https://{{ $env.EVO_HOST }}/message/sendText/{{ $env.EVO_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "apikey", "value": "={{ $env.EVO_APIKEY }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"text\": \"😕 Esse horário já está ocupado.\\n\\nQuer que eu sugira outro horário disponível? Responda *sim* ou envie outro horário (ex: 14:30).\"\n}",
        "options": {}
      },
      "id": "send_b2",
      "name": "Avisa: horário ocupado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, reason: 'slot_unavailable' }) }}",
        "options": {}
      },
      "id": "resp_b2",
      "name": "Resposta Webhook (ocupado)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "url": "=https://{{ $env.EVO_HOST }}/message/sendText/{{ $env.EVO_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "apikey", "value": "={{ $env.EVO_APIKEY }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"text\": \"🤔 Não entendi os dados.\\n\\nVamos tentar de novo?\\n\\n*1️⃣* Agendar consulta\\n*2️⃣* Ver agendamentos\\n*3️⃣* Cancelar\"\n}",
        "options": {}
      },
      "id": "send_b3",
      "name": "Avisa: dados inválidos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, reason: 'invalid_data' }) }}",
        "options": {}
      },
      "id": "resp_b3",
      "name": "Resposta Webhook (inválido)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Webhook Booking": {"main": [[{"node": "Extrair dados do agendamento", "type": "main", "index": 0}]]},
    "Extrair dados do agendamento": {"main": [[{"node": "Resolve Especialidade + Datas", "type": "main", "index": 0}]]},
    "Resolve Especialidade + Datas": {"main": [[{"node": "Dados válidos?", "type": "main", "index": 0}]]},
    "Dados válidos?": {
      "main": [
        [{"node": "Google Calendar · Verificar livre", "type": "main", "index": 0}],
        [{"node": "Avisa: dados inválidos", "type": "main", "index": 0}]
      ]
    },
    "Avisa: dados inválidos": {"main": [[{"node": "Resposta Webhook (inválido)", "type": "main", "index": 0}]]},
    "Google Calendar · Verificar livre": {"main": [[{"node": "Horário livre?", "type": "main", "index": 0}]]},
    "Horário livre?": {
      "main": [
        [{"node": "Google Calendar · Criar evento", "type": "main", "index": 0}],
        [{"node": "Avisa: horário ocupado", "type": "main", "index": 0}]
      ]
    },
    "Google Calendar · Criar evento": {"main": [[{"node": "Salva agendamento no DB", "type": "main", "index": 0}]]},
    "Salva agendamento no DB": {"main": [[{"node": "Monta confirmação", "type": "main", "index": 0}]]},
    "Monta confirmação": {"main": [[{"node": "Envia confirmação ao paciente", "type": "main", "index": 0}]]},
    "Envia confirmação ao paciente": {"main": [[{"node": "Resposta Webhook (OK)", "type": "main", "index": 0}]]},
    "Avisa: horário ocupado": {"main": [[{"node": "Resposta Webhook (ocupado)", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "timezone": "America/Sao_Paulo"
  },
  "tags": [
    {"name": "clinica"},
    {"name": "agendamento"},
    {"name": "google-calendar"}
  ],
  "versionId": "1.0.0",
  "id": "wf-clinica-booking"
}
