workflows/04-reminders.json
{
  "name": "04 - Clínica WhatsApp · Lembretes Automáticos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{}]
        }
      },
      "id": "cron1",
      "name": "A cada 30 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.id, a.phone, a.patient_name, a.specialty, a.start_time, a.calendar_event_id, a.reminder_24h_sent, a.reminder_2h_sent FROM appointments a WHERE a.status = 'confirmed' AND a.start_time BETWEEN NOW() + INTERVAL '23 hours' AND NOW() + INTERVAL '25 hours' AND a.reminder_24h_sent = false;",
        "options": {}
      },
      "id": "db_l1",
      "name": "Busca appts (24h)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 200],
      "credentials": {"postgres": {"id": "clinica-pg", "name": "Clínica PG"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.id, a.phone, a.patient_name, a.specialty, a.start_time, a.calendar_event_id, a.reminder_2h_sent FROM appointments a WHERE a.status = 'confirmed' AND a.start_time BETWEEN NOW() + INTERVAL '90 minutes' AND NOW() + INTERVAL '150 minutes' AND a.reminder_2h_sent = false;",
        "options": {}
      },
      "id": "db_l2",
      "name": "Busca appts (2h)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 400],
      "credentials": {"postgres": {"id": "clinica-pg", "name": "Clínica PG"}}
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "typeValidation": "strict"},
          "conditions": [
            {"id": "l1", "leftValue": "={{ $json.id }}", "rightValue": "", "operator": {"type": "string", "operation": "exists", "singleValue": true}}
          ]
        }
      },
      "id": "if_l1",
      "name": "Tem lembretes 24h?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "typeValidation": "strict"},
          "conditions": [
            {"id": "l2", "leftValue": "={{ $json.id }}", "rightValue": "", "operator": {"type": "string", "operation": "exists", "singleValue": true}}
          ]
        }
      },
      "id": "if_l2",
      "name": "Tem lembretes 2h?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "functionCode": "const appts = $input.all().map(i => i.json);\n\nconst items = appts.map(a => {\n  const d = new Date(a.start_time);\n  const fmtDate = d.toLocaleDateString('pt-BR', { weekday: 'long', day: '2-digit', month: 'long' });\n  const fmtTime = d.toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit' });\n\n  const text = `👋 Oi, ${a.patient_name.split(' ')[0]}!\\n\\nLembrete: sua consulta é *amanhã*!\\n\\n📋 *${a.specialty}*\\n📅 ${fmtDate}\\n⏰ ${fmtTime}\\n📍 Clínica Vida — Rua das Flores, 123\\n\\n✅ Confirma presença?\\n*1* — Confirmo\\n*2* — Preciso remarcar\\n*3* — Cancelar`;\n\n  return { json: { phone: a.phone, text, appointmentId: a.id } };\n});\n\nreturn items;\n"
      },
      "id": "fn_l1",
      "name": "Formata lembrete 24h",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "functionCode": "const appts = $input.all().map(i => i.json);\n\nconst items = appts.map(a => {\n  const d = new Date(a.start_time);\n  const fmtTime = d.toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit' });\n\n  const text = `⏰ *Daqui a 2 horas* você tem consulta!\\n\\n📋 ${a.specialty}\\n⏰ ${fmtTime}\\n📍 Clínica Vida\\n\\nNão esqueça de trazer:\\n• Documento com foto\\n• Carteirinha do convênio\\n• Exames anteriores (se tiver)\\n\\nAté já! 😊`;\n\n  return { json: { phone: a.phone, text, appointmentId: a.id } };\n});\n\nreturn items;\n"
      },
      "id": "fn_l2",
      "name": "Formata lembrete 2h",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "url": "=https://{{ $env.EVO_HOST }}/message/sendText/{{ $env.EVO_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "apikey", "value": "={{ $env.EVO_APIKEY }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"text\": \"{{ $json.text }}\"\n}",
        "options": {}
      },
      "id": "send_l1",
      "name": "Envia lembrete 24h",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "url": "=https://{{ $env.EVO_HOST }}/message/sendText/{{ $env.EVO_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "apikey", "value": "={{ $env.EVO_APIKEY }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"text\": \"{{ $json.text }}\"\n}",
        "options": {}
      },
      "id": "send_l2",
      "name": "Envia lembrete 2h",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE appointments SET reminder_24h_sent = true, reminder_24h_sent_at = NOW(), updated_at = NOW() WHERE id = {{ $json.appointmentId }};",
        "options": {}
      },
      "id": "db_l3",
      "name": "Marca 24h como enviado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 200],
      "credentials": {"postgres": {"id": "clinica-pg", "name": "Clínica PG"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE appointments SET reminder_2h_sent = true, reminder_2h_sent_at = NOW(), updated_at = NOW() WHERE id = {{ $json.appointmentId }};",
        "options": {}
      },
      "id": "db_l4",
      "name": "Marca 2h como enviado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 400],
      "credentials": {"postgres": {"id": "clinica-pg", "name": "Clínica PG"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO followups (phone, patient_name, message, scheduled_for, created_at) VALUES ({{ JSON.stringify($json.phone) }}, {{ JSON.stringify($json.patient_name) }}, 'Olá! Você consegue confirmar sua próxima consulta?', NOW() + INTERVAL '1 hour', NOW());",
        "options": {}
      },
      "id": "db_l5",
      "name": "Agenda follow-up (confirmação)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1560, 200],
      "credentials": {"postgres": {"id": "clinica-pg", "name": "Clínica PG"}}
    }
  ],
  "connections": {
    "A cada 30 minutos": {
      "main": [
        [{"node": "Busca appts (24h)", "type": "main", "index": 0}],
        [{"node": "Busca appts (2h)", "type": "main", "index": 0}]
      ]
    },
    "Busca appts (24h)": {"main": [[{"node": "Tem lembretes 24h?", "type": "main", "index": 0}]]},
    "Busca appts (2h)": {"main": [[{"node": "Tem lembretes 2h?", "type": "main", "index": 0}]]},
    "Tem lembretes 24h?": {"main": [[{"node": "Formata lembrete 24h", "type": "main", "index": 0}]]},
    "Tem lembretes 2h?": {"main": [[{"node": "Formata lembrete 2h", "type": "main", "index": 0}]]},
    "Formata lembrete 24h": {"main": [[{"node": "Envia lembrete 24h", "type": "main", "index": 0}]]},
    "Formata lembrete 2h": {"main": [[{"node": "Envia lembrete 2h", "type": "main", "index": 0}]]},
    "Envia lembrete 24h": {"main": [[{"node": "Marca 24h como enviado", "type": "main", "index": 0}]]},
    "Envia lembrete 2h": {"main": [[{"node": "Marca 2h como enviado", "type": "main", "index": 0}]]},
    "Marca 24h como enviado": {"main": [[{"node": "Agenda follow-up (confirmação)", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "timezone": "America/Sao_Paulo"
  },
  "tags": [
    {"name": "clinica"},
    {"name": "lembretes"},
    {"name": "automatizado"}
  ],
  "versionId": "1.0.0",
  "id": "wf-clinica-reminders"
}
