workflows/05-ai-faq-feedback.json
{
  "name": "05 - Clínica WhatsApp · FAQ IA + Pós-Consulta",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clinica-ai-faq",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh_ai1",
      "name": "Webhook IA FAQ",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "clinica-ai-faq"
    },
    {
      "parameters": {
        "rule": {
          "interval": [{}]
        }
      },
      "id": "cron_fb1",
      "name": "A cada 6 horas (pós-consulta)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 600]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.id, a.phone, a.patient_name, a.specialty FROM appointments a WHERE a.status = 'confirmed' AND a.start_time BETWEEN NOW() - INTERVAL '6 hours' AND NOW() AND a.feedback_sent = false;",
        "options": {}
      },
      "id": "db_fb1",
      "name": "Busca appts recentes (pós-consulta)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 600],
      "credentials": {"postgres": {"id": "clinica-pg", "name": "Clínica PG"}}
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "typeValidation": "strict"},
          "conditions": [
            {"id": "fb1", "leftValue": "={{ $json.id }}", "rightValue": "", "operator": {"type": "string", "operation": "exists", "singleValue": true}}
          ]
        }
      },
      "id": "if_fb1",
      "name": "Tem consultas finalizadas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 600]
    },
    {
      "parameters": {
        "functionCode": "const appts = $input.all().map(i => i.json);\n\nconst items = appts.map(a => {\n  const text = `Olá, ${a.patient_name.split(' ')[0]}! 😊\\n\\nEsperamos que sua consulta de *${a.specialty}* tenha sido ótima!\\n\\nPoderia nos dar uma avaliação rápida? Leva menos de 30 segundos!\\n\\n⭐ *1* — Péssimo\\n⭐⭐ *2* — Ruim\\n⭐⭐⭐ *3* — Regular\\n⭐⭐⭐⭐ *4* — Bom\\n⭐⭐⭐⭐⭐ *5* — Excelente\\n\\nResponda com o número de 1 a 5.`;\n\n  return { json: { phone: a.phone, text, appointmentId: a.id } };\n});\n\nreturn items;\n"
      },
      "id": "fn_fb1",
      "name": "Formata pergunta de feedback",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 600]
    },
    {
      "parameters": {
        "url": "=https://{{ $env.EVO_HOST }}/message/sendText/{{ $env.EVO_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "apikey", "value": "={{ $env.EVO_APIKEY }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"text\": \"{{ $json.text }}\"\n}",
        "options": {}
      },
      "id": "send_fb1",
      "name": "Envia pedido de feedback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 600]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE appointments SET feedback_sent = true, feedback_sent_at = NOW() WHERE id = {{ $json.appointmentId }};",
        "options": {}
      },
      "id": "db_fb2",
      "name": "Marca feedback enviado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 600],
      "credentials": {"postgres": {"id": "clinica-pg", "name": "Clínica PG"}}
    },
    {
      "parameters": {
        "rule": {
          "interval": [{}]
        }
      },
      "id": "set_ai1",
      "name": "Prepara prompt IA",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300],
      "assignments": {
        "assignments": [
          {
            "id": "ai1",
            "name": "systemPrompt",
            "value": "={{ 'Você é a assistente virtual da Clínica Vida, uma clínica médica brasileira. Seja simpática, use emojis com moderação, respostas curtas (máximo 3 parágrafos), em português brasileiro.\\n\\nInformações fixas:\\n- Endereço: Rua das Flores, 123 — Centro\\n- Horário: Seg-Sex 7h-19h, Sáb 7h-12h\\n- Convênios: Unimed, Amil, SulAmérica, Bradesco Saúde\\n- Particular: a partir de R$ 250\\n- Telefone fixo: (11) 3333-4444\\n- Emergência: SAMU 192\\n\\nVocê PODE:\\n- Responder dúvidas gerais\\n- Sugerir especialidades\\n- Dar informações sobre preparo de exames\\n\\nVocê NÃO PODE:\\n- Dar diagnósticos\\n- Recomendar medicamentos\\n- Interpretar exames\\n\\nQuando o paciente quiser agendar, cancelar ou falar com humano, responda EXATAMENTE:\\n[ACAO:AGENDAR] ou [ACAO:CANCELAR] ou [ACAO:HUMANO] ou [ACAO:INFO] ou [ACAO:CONSULTAR] ou [ACAO:REAGENDAR]\\nseguido da resposta amigável.' }}",
            "type": "string"
          },
          {
            "id": "ai2",
            "name": "userMessage",
            "value": "={{ $json.body.text }}",
            "type": "string"
          },
          {
            "id": "ai3",
            "name": "phone",
            "value": "={{ $json.body.phone }}",
            "type": "string"
          },
          {
            "id": "ai4",
            "name": "pushName",
            "value": "={{ $json.body.pushName }}",
            "type": "string"
          }
        ]
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Authorization", "value": "Bearer {{ $env.OPENAI_API_KEY }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": {{ JSON.stringify($json.systemPrompt) }}},\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json.userMessage) }}}\n  ],\n  \"max_tokens\": 400,\n  \"temperature\": 0.4\n}",
        "options": {"timeout": 30000}
      },
      "id": "openai1",
      "name": "OpenAI · GPT-4o-mini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "functionCode": "const r = JSON.parse($input.first().json.choices[0].message.content);\n\nlet intent = null;\nconst match = r.match(/\\[ACAO:(\\w+)\\]/);\nif (match) intent = match[1];\n\nconst reply = r.replace(/\\[ACAO:\\w+\\]\\s*/, '').trim();\n\nreturn { json: { phone: $json.phone, reply, intent, rawReply: r } };\n"
      },
      "id": "fn_ai1",
      "name": "Extrai intent + resposta",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "=https://{{ $env.EVO_HOST }}/message/sendText/{{ $env.EVO_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "apikey", "value": "={{ $env.EVO_APIKEY }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"text\": \"{{ $json.reply }}\"\n}",
        "options": {}
      },
      "id": "send_ai1",
      "name": "Envia resposta IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, intent: $json.intent, reply: $json.reply }) }}",
        "options": {}
      },
      "id": "resp_ai1",
      "name": "Responde (IA)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook IA FAQ": {"main": [[{"node": "Prepara prompt IA", "type": "main", "index": 0}]]},
    "Prepara prompt IA": {"main": [[{"node": "OpenAI · GPT-4o-mini", "type": "main", "index": 0}]]},
    "OpenAI · GPT-4o-mini": {"main": [[{"node": "Extrai intent + resposta", "type": "main", "index": 0}]]},
    "Extrai intent + resposta": {"main": [[{"node": "Envia resposta IA", "type": "main", "index": 0}]]},
    "Envia resposta IA": {"main": [[{"node": "Responde (IA)", "type": "main", "index": 0}]]},
    "A cada 6 horas (pós-consulta)": {"main": [[{"node": "Busca appts recentes (pós-consulta)", "type": "main", "index": 0}]]},
    "Busca appts recentes (pós-consulta)": {"main": [[{"node": "Tem consultas finalizadas?", "type": "main", "index": 0}]]},
    "Tem consultas finalizadas?": {"main": [[{"node": "Formata pergunta de feedback", "type": "main", "index": 0}]]},
    "Formata pergunta de feedback": {"main": [[{"node": "Envia pedido de feedback", "type": "main", "index": 0}]]},
    "Envia pedido de feedback": {"main": [[{"node": "Marca feedback enviado", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "timezone": "America/Sao_Paulo"
  },
  "tags": [
    {"name": "clinica"},
    {"name": "ia"},
    {"name": "feedback"}
  ],
  "versionId": "1.0.0",
  "id": "wf-clinica-ai-feedback"
}
